#imagelistMun img{
    width: 100px;
    height:auto;
}

#imagelistMun{
   //margin: 100px;
   border-radius: 2px;
   //border: blue 5px solid;
   background-color: rgb(71, 133, 224);;
   text-align: justify;
}

.list-unstyled{
    margin: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 2px;
    background-color: rgb(222, 135, 215);
}

h2{
    text-align: center;
}