#footer{
    position: fixed;
    bottom: 0;
    background-color: #1a1a3c;
    color: rgb(245, 245, 245);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & div {
        text-align: center;
    }
}


