<div class="container">
  <button type="button" (click)="newMun()" class="btn btn-outline-primary" style="margin-right: 30px;"><i
      class="fa fa-plus" aria-hidden="true"></i> Crear Municipio</button>
  <button type="button" (click)="usersManager()" class="btn btn-outline-success"><i class="fa fa-users"
      aria-hidden="true"></i> Gestionar Usuarios</button>
</div>


<div class="container">
  <ul class="list-group">
    <li class="list-group-item active list-group-horizontal" style="background: #282828;">Municipios</li>
  </ul>
  <ul class="list-group list-group-horizontal list-group-flush" *ngFor="let mpio of listMunicipalities">
    <li (click)="showInfo(mpio)" class="list-group-item list-group-item-action hover">
      {{mpio.name}}</li>
    <li class="list-group-item center hover" style="width: 7rem; padding: 0; text-align: center;">
      <i (click)="updateMun(mpio)" class="fa fa-pencil icon-edit" aria-hidden="true"></i></li>
  </ul>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div *ngIf="municipality" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Información de {{municipality.name}}</h5>
      </div>
      <div class="modal-body">
        <ul *ngIf="listSitios" class="list-group">
          <li class="list-group-item list-group-item-action" style="text-align: center;"><img
              src="{{municipality.image}}" width="300px" height="180px" alt="error al cargar"></li>
          <li class="list-group-item list-group-item-action">Descripcion de {{municipality.name}}:
            {{municipality.description}}</li>
          <ng-container *ngFor="let sitio of listSitios">
            <li class="list-group-item list-group-item-action">Lugar: {{sitio.name}}</li>
            <li class="list-group-item list-group-item-action" style="text-align: center;"><img src="{{sitio.image}}"
                width="300px" height="180px" alt="error al cargar"></li>
            <li class="list-group-item list-group-item-action">Descripcion {{sitio.name}}: {{sitio.description}}</li>
          </ng-container>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modalCreate" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="container">
        <h3><i class="fa fa-{{update ? 'pencil' : 'plus'}}" aria-hidden="true"></i>
          {{update ? 'Actualizar municipio': 'Crear municipio'}}</h3>
        <hr>
        <form [formGroup]="municipalityForm">
          <div class="mb-3" style="text-align: center;">
            <img src="{{municipality.image}}" *ngIf="update" width="300px" height="180px" alt="no se cargo">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Nombre del municipio</span>
            </div>
            <input type="text" class="form-control" placeholder="Ingrese el nombre del municipio" required
              formControlName="name">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Descripción</span>
            </div>
            <input type="text" class="form-control" placeholder="Ingrese la descripción del municipio"
              formControlName="description">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Economía</span>
            </div>
            <input type="text" class="form-control" placeholder="Ingrese la economía tipica" formControlName="economy">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Habitantes</span>
            </div>
            <input type="text" class="form-control" placeholder="Ingrese la cantidad de habitantes del municipio"
              formControlName="habitants">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Historia</span>
            </div>
            <input type="text" class="form-control" placeholder="Ingrese la reseña historica del municipio"
              formControlName="history">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Clima</span>
            </div>
            <input type="text" class="form-control" placeholder="Ingrese la temperatura promedio"
              formControlName="weather">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Cargar foto</span>
            </div>
            <div class="custom-file">
              <input type="file" accept=".png, .jpg" (change)="upload($event)" class="custom-file-input"
                id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">{{url ? url.target.files[0].name : 'Elegir archivo'}}</label>
              <input type="text" class="form-control" value="{{url}}" formControlName="image">
            </div>
          </div>

          <div class="row" *ngIf="update">
            <div class="col-md-3">
              <button type="button" (click)="addSite()" class="btn btn-success">Agregar sitio</button>
            </div>
            <div class="col-md-3">
              <button type="button" (click)="addCelebration()" class="btn btn-success">Agregar celebración</button>
            </div>
            <div class="col-md-3">
              <button type="button" (click)="showSites()" class="btn btn-primary">Editar sitios</button>
            </div>
          </div>
        </form>
        <hr>
        <div class="container-fluid mb-3">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          <button type="button" (click)="saveMpio()" class="btn btn-success pull-right">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="modalCreateSite" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body" *ngIf="municipality">
        <app-site [municipality]="municipality.idMun" [site]="site" [update]="editSite"></app-site>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="modalCreateCelebration" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body" *ngIf="municipality">
        <app-celebration [municipality]="municipality.idMun" [celebration]="celebration" [update]="editCelebration">
        </app-celebration>
      </div>
    </div>
  </div>
</div>

<div *ngIf="municipality" class="modal fade bd-example-modal-lg" id="modalSites">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item active">Sitios de {{municipality.name}}</li>
          <li class="list-group-item" (click)="updateSite(site)" *ngFor="let site of listSitios">{{site.name}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button btn-sm" class="btn btn-primary" data-dismiss="modalSites">Cancelar</button>
      </div>
    </div>
  </div>
</div>