#modalSites {
    background: #e5edf8;
}
.container{
    margin-top: 15px;
}
.icon-edit {
    padding: 0;
    text-align: center;
    color: black; 
    font-size: 35px;
}
.hover:hover{
    background: #cdcde4;
    cursor: pointer;
}
.cover-img {
    width: 420px;
    height: 260px;
    border-radius: 10px;
    border: 2px solid;
}
.center-item {
    text-align: center;
}