#imagelistNotice img{
    width: 150px;
    height:auto;
}

#imagelistNotice{
    //margin: 100px;
    border-radius: 2px;
    //border: blue 5px solid;
    background-color: cornsilk;
    text-align: justify;
 }

 .list-unstyled{
    margin: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 2px;
    background-color: rgb(71, 133, 224);
}