<header id="header">
    <div class="center">


        <!-- LOGO-->
        <div id="logo">
           <a href="index.html">
            <img src="assets/logo.jpg" class="app-logo" alt="Logotipo">
            <span id="brand">
                <strong href="index.html">Discover</strong>Oriente
            </span>
            </a>
        </div>

      

        <!--MENU-->
        <nav id="menu">
           <ul>
                <li>
                    <a routerLink="/inicio" routerLinkActive="link-active"><fa-icon [icon]="faHome"></fa-icon>Inicio</a>
                </li>
                <li>
                    <a routerLink="/subregiones" routerLinkActive="link-active"><fa-icon [icon]="faThLarge"></fa-icon>Regiones</a>
                </li>
                <li>
                    <a routerLink="/info" routerLinkActive="link-active"><fa-icon [icon]="faQuestionCircle"></fa-icon>Información práctica</a>
                </li>
                <li>
                    <a routerLink="/contactenos" routerLinkActive="link-active"><fa-icon [icon]="faAddressCard"></fa-icon>Contáctenos</a>
                </li>
            </ul>
        </nav>
         <div class="menu-toggle"><i class="fas fa-bars"></i></div>
        <!--LIMPIAR FLOAT-->
        <div class="clearfix"></div>
    </div>

</header>