.header{
    display: grid;
    grid-template-columns: 5%  40% 40% 10%;
    justify-content: center;
    background: #1a1a3c;
    color: white;
    padding: 5px;
    height: 13vh;
    align-items: center;
}

.header h2{
    margin-left: 10px;
    
}
.menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-size: 18px;
    margin-left: 10px;
    & li{
        margin-left: 25px;
    }
    & :hover {
        cursor: pointer;
        transform: scale(1.25);
        transition: transform 0.5s;
        border-bottom: solid 1px;
    }
}
.login{
        display: flex;
    justify-content: flex-end;
}
img {
    border-radius: 50%;
    animation: turn infinite 20s linear;
  }
@keyframes turn{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


@media(max-width: 800px){
    
    .header h2{
        margin-left: 30px;
        font-size: 25px;
    }
}

@media(max-width: 500px){
    
    .header h2{
        font-size: 20px;
        margin-left: 50px;
    }
}

