.carousel-item{
    width: 100%;
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:relative;
  }
  
  .carousel-indicators{
      position: absolute;
      z-index: 995;
  }
  
  .carousel-control-prev{
      position: absolute;
  }
  .carousel-control-next{
      position: absolute;
  }
  
  .carousel-caption d-none d-md-block h2{
      position: static;
      z-index: 995;
  }
  
  .link { color: white; } /* CSS link color (red) */
  .link:hover { color: rgb(255, 0, 149); }
  
  @media(max-width: 960px){
      /*se ejecutaran estos estilos*/
      .carousel slide{
          height: auto;
      }
      
  }
  
  .center{
      width: 75%;
      margin: 0px auto;
      text-align: center;
  }
  
  .carousel-item h2{
      background: rgba(34,34,34,0.9);
      background-color: rgba(0,0,0,0.2);
  }
  
  .carousel-item p{
      
      background: rgba(34,34,34,0.75);
      background-color: rgba(0,0,0,0.5);
  }
  
  
  @media (max-width: 600px) {
    .carousel-item {
      height: 280px;
    }
  }
  
  .carousel-caption{
      
      padding-bottom: 50px;
      
  }