<div class="container">
  <button type="button" (click)= "newMun()" class="btn btn-primary">Crear Municipio</button>

</div>

<!-- <button (click)="s()">Pruba</button> -->

<div class="container">
  <ul class="list-group">
    <li class="list-group-item active list-group-horizontal">Municipios</li>
  </ul>
  <ul class="list-group list-group-horizontal"  *ngFor="let mpio of listMunicipalities">
    <li (click)="showInfo(mpio)" class="list-group-item list-group-item-action">
      {{mpio.name}}</li>
    <li class="list-group-item list-group-item-action actions" (click)= "updateMun(mpio)" style="width: 7rem;"><button class="btn-sm btn-success">Actualizar</button></li>
    <li class="list-group-item list-group-item-action actions" (click)= "deleteMun(mpio)" style="width: 7rem;"><button class="btn-sm btn-danger">Eliminar</button></li>
  </ul>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div *ngIf="municipality" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Información de {{municipality.name}}</h5>
      </div>
      <div class="modal-body">
        <ul *ngIf="listSitios" class="list-group">
          <li class="list-group-item list-group-item-action" style="text-align: center;"><img
              src="{{municipality.image}}" width="300px" height="180px" alt="error al cargar"></li>
          <li class="list-group-item list-group-item-action">Descripcion de {{municipality.name}}: {{municipality.description}}</li>
          <ng-container *ngFor="let sitio of listSitios">
            <li  class="list-group-item list-group-item-action">Lugar: {{sitio.name}}</li>
            <li class="list-group-item list-group-item-action" style="text-align: center;"><img
              src="{{sitio.image}}" width="300px" height="180px" alt="error al cargar"></li>
              <li  class="list-group-item list-group-item-action">Descripcion {{sitio.name}}: {{sitio.description}}</li>
          </ng-container>
          
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modalCreate" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-municipality [municipality] = "municipality" [update] = "update" [sites] = "listSitios"></app-municipality>
      </div>
    </div>
  </div>
</div>