<div class="container">
  <h3 class="center" style="margin-top: 15px;">Bienvenid@ a Pal Oriente</h3>
  <hr>
  <form [formGroup]="logInForm" class="was-validated">
    <div class="mb-3">
      <label>Correo electrónico</label>
      <input type="text" formControlName="email" ngModel pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" placeholder="Ingrese el correo" required>
    </div>
    <div class="mb-3">
      <label>Contraseña</label>
      <input type="password" formControlName="password" ngModel pattern="^[a-z0-9_-]{5,16}$" class="form-control" placeholder="Ingrese la contraseña"
        required>
    </div>
  </form>
  <hr>
  <div class="mb-3">
    <button (click)="logIn()" class="btn btn-lg btn-block" style="background: #22B547; color: white;">Iniciar Sesión</button>
  </div>
</div>