<div class="container">
  <button type="button" (click)="newMun()" class="btn btn-primary">Crear Municipio</button>
</div>

<div class="container">
  <ul class="list-group">
    <li class="list-group-item active list-group-horizontal">Municipios</li>
  </ul>
  <ul class="list-group list-group-horizontal" *ngFor="let mpio of listMunicipalities">
    <li (click)="showInfo(mpio)" class="list-group-item list-group-item-action">
      {{mpio.name}}</li>
    <li class="list-group-item list-group-item-action actions" (click)="updateMun(mpio)" style="width: 7rem;"><button
        class="btn-sm btn-success">Actualizar</button></li>
    <li class="list-group-item list-group-item-action actions" (click)="deleteMun(mpio)" style="width: 7rem;"><button
        class="btn-sm btn-danger">Eliminar</button></li>
  </ul>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div *ngIf="municipality" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Información de {{municipality.name}}</h5>
      </div>
      <div class="modal-body">
        <ul *ngIf="listSitios" class="list-group">
          <li class="list-group-item list-group-item-action" style="text-align: center;"><img
              src="{{municipality.image}}" width="300px" height="180px" alt="error al cargar"></li>
          <li class="list-group-item list-group-item-action">Descripcion de {{municipality.name}}:
            {{municipality.description}}</li>
          <ng-container *ngFor="let sitio of listSitios">
            <li class="list-group-item list-group-item-action">Lugar: {{sitio.name}}</li>
            <li class="list-group-item list-group-item-action" style="text-align: center;"><img src="{{sitio.image}}"
                width="300px" height="180px" alt="error al cargar"></li>
            <li class="list-group-item list-group-item-action">Descripcion {{sitio.name}}: {{sitio.description}}</li>
          </ng-container>

        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modalCreate" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <h5>{{update ? 'Actualizar municipio': 'Crear municipio'}}</h5>
          <hr>

          <form [formGroup]="municipalityForm">
            <div style="text-align: center;">
              <img src="{{municipality.image}}" *ngIf="update" width="300px" height="180px" alt="no se cargo">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Nombre del municipio</span>
              </div>
              <input type="text" class="form-control" required formControlName="name">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Descripción</span>
              </div>
              <input type="text" class="form-control" formControlName="description">
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Cargar foto</span>
              </div>
              <div class="custom-file">
                <input type="file" accept=".png, .jpg" (change)="upload($event)" class="custom-file-input"
                  id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Elegir archivo</label>
                <input type="text" class="form-control" value="{{url}}" formControlName="image">
              </div>
            </div>

            <div class="row" *ngIf="update">
              <div class="col-md-3">
                <button type="button" (click)="addSite()" class="btn btn-success">Agregar sitio</button>
              </div>
              <!-- *ngIf="sites" -->
              <div class="col-md-3">
                <button type="button" (click)= "showSites()" class="btn btn-primary">Editar sitios</button> 
                <!-- <button type="button" data-toggle="modal" data-target="#modalSites" class="btn btn-primary">Editar sitios</button>  -->
              </div>
            </div>
          </form>
          <hr>
          <button type="button" class="btn btn-danger btn-sm pull-right" (click)="clearMpio()"
            data-dismiss="modal">Cerrar</button>
          <button type="button" (click)="saveMpio()" class="btn btn-success btn-sm pull-right">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal fade bd-example-modal-lg"  id="modalCreateSite" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body" *ngIf= "municipality">
        <app-site [municipality]= "municipality.idMun" [site] = "site" [update] = "editSite"></app-site>
      </div>
    </div>
  </div>
</div>

<div  *ngIf= "municipality" class="modal fade bd-example-modal-lg"  id="modalSites">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item active">Sitios de {{municipality.name}}</li>
          <li class="list-group-item" (click)= "updateSite(site)" *ngFor = "let site of listSitios">{{site.name}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button btn-sm" class="btn btn-primary" data-dismiss="modalSites">Cancelar</button>
      </div>
    </div>
  </div>
</div> 