.icon-edit {
    padding: 0;
    text-align: center;
    color: black; 
    font-size: 35px;
}
.was-validated .form-control:invalid{
    border-color: #cccccc;
}
.cover-img {
    width: 350px;
    border-radius: 10px;
    border: 2px solid;
}
.center-item {
    text-align: center;
}
.container{
    margin-top: 15px;
}
.biggest :hover {
    transform: scale(1.24);
    transition: transform 0.4s;
    border-bottom: solid 1px;
}
@media (max-width: 500px) {
    .cover-img {
        width: 280px;
    }
}