<div class="container">
    <h5>Crear sitio</h5>
    <hr>

    <form [formGroup]="siteForm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Nombre del Sitio</span>
            </div>
            <input type="text" class="form-control" required formControlName="name">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Descripción</span>
            </div>
            <input type="text" class="form-control" formControlName="description">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Coordeada x</span>
            </div>
            <input type="number" class="form-control" formControlName="x">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Coordeada y</span>
            </div>
            <input type="number" class="form-control" formControlName="y">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Cargar foto</span>
            </div>
            <div class="custom-file">
                <input type="file" accept=".png, .jpg" (change)="upload($event)" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Elegir archivo</label>
                <input type="text" class="form-control" value="{{url}}" formControlName="image">
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Cargar imágenes</span>
            </div>
            <div class="custom-file">
                <input type="file" multiple=true class="form-control" (change)="importImages($event)"
                    formControlName="galery">

            </div>
        </div>
    </form>

    <hr>
    <button type="button" class="btn btn-danger" (click)="clearSite()">Cancelar</button>
    <button type="button" class="btn btn-success pull-left" (click)="createSite()">Aceptar</button>
</div>